.projet-container {
  max-width: 100%;
  min-height: 100vh;
  position: relative;
}

/*************************************/
/*************************************/
/*************************************/

/*Mobile version*/
@media screen and (max-width:500px) {
.logo-project{
  display: flex;
  justify-content: center;
}

}