.homePage {
  background-image: url(/public/assets/images/homepage.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
}




/* Logo DEV style */


/* ******************************** */

/* Container section */
.homePage-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.container-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%;

}

/* Title */
.title {

  text-align: left;
  color: white;
}

.main-title {

  text-align: center;
  font-size: 5rem;
  font-weight: 1000;
}

.secondary-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 1000;
}

/* ******************************** */



/* Descritpion */
.description {
  text-align: center;
  color: white;
}

/* ******************************** */

.container-right {
  text-align: center;
}

/* Circle Photo */
.circle-photo {
  background-image: url(/public/assets/images/digitalphoto.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(-8deg);
  width: 36rem;
  height: 36rem;
}