.homePage {
  background-image: url(/public/assets/images/homepage.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}


/* Container section */
.homePage-container {
  display: flex;
  justify-content: center;
  height: 80%;
}

.container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Title */
.title {
  color: white;
}

.main-title {
  margin: 0;
  padding:0.5rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 1000;
  line-height: 130%;
}

.secondary-title {
  margin: 0;
  padding: 0.5rem;
  margin-bottom:2rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 1000;
}

/* ******************************** */



/* Descritpion */
.description {
  color: white;
  font-size:1.5rem;
  text-align: justify;
  padding:0.5em;
}

/* ******************************** */

.container-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem, 5rem;
}


/* Circle Photo */
.circle-photo {
  background-image: url(/public/assets/images/digitalphoto.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(-8deg);
  width: 40rem;
  height: 40rem;

}
