.homePage {
  background-image: url(/public/assets/images/homepage.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
}




/* Logo DEV style */
.logo {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
}

.logo-text {
  color: white;
  font-size: 2rem;
  font-weight: 900;
  width: 50px;
}

.mini-logo {
  width: 80px;
  height: 80px;
  background-color: white;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.abreviation {
  font-family: Inter, sans-serif;
  font-style: normal;
  color: black;
  font-weight: 1000;
  font-size: 2rem;
  line-height: 116px;
}
/* ******************************** */

/* Container section */
.homePage-container {
  display: flex; 
  justify-content:space-around ;
  align-items: center;
  height: 100%;
}

.container-left{
  width: 40%;
}

/* Title */
.title {

  text-align: left;
  color: white;
}

.main-title {
  
  text-align: center;
  font-size: 5rem;
  font-weight: 1000;
}

.secondary-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 1000;
}
/* ******************************** */



/* Descritpion */
.description {
  text-align: center;
  color: white; 
}
/* ******************************** */


/* Circle Photo */
.circle-photo {
background-image:url(/public/assets/images/digitalphoto.png);
background-repeat:no-repeat;
background-size: cover;
transform: rotate(-8deg);
width: 30rem;
height: 30rem;

}