.index-container {
  text-align: right;
  background-color: black;
  padding:0.8rem;
}

.index {
  display: inline-block;
  border: 3px solid #6636dd;
  border-radius: 50px;
  padding: 1rem;
  cursor: pointer;
}


