.index-container {
  text-align: right;
  background-color: black;
  padding: 1.5rem 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.5rem  0;


}

.index {
  display: inline-block;
  text-align: right;
  border: 3px solid #6636dd;
  border-radius: 50px;
  padding: 1rem;
  cursor: pointer;
}