.card-container{
  margin: auto;
  background-color:cornflowerblue;
  max-width: 80%;
  height:500px;
  display: flex;
  justify-content: space-between;
}

.card-image{
  width: 50%;

  
}

.card-description{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;}
