/* Logo DEV style */
.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  color: white;
  font-size: 2rem;
  font-weight: 900;
  width: 150px;
  font-family: 'Bebas Neue', cursive;
  text-align: left;
}

.mini-logo {
  width: 80px;
  height: 80px;
  background-color: white;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.abreviation {
  font-style: normal;
  color: black;
  font-weight: 1000;
  font-size: 3rem;
}