.nav-content {
  display: flex;
  justify-content: space-between;
  height: 80px;
  vertical-align: center;
  margin-left:0.1rem;
  margin-top: 1rem;
}

.nav_items {
  list-style: none;
}

.nav-link {
  margin: 1rem;
  color: #fff;
  font-weight: 900;
  font-size: 1.2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
  line-height: 25px;
  padding:0.5rem;
}
.nav-link:hover {
  border-bottom: 3px solid #6636dd;
  font-weight:1000;

}


