
.nav-content {
  display: flex;
  height: 60px;
  vertical-align: center;
  margin-left:0.1rem;
  padding:0.8rem;
  position: fixed;
  z-index: 1;
  top: 10;
  right: 3rem;
}

.nav_items {
  list-style: none;
}

.nav-link {
  margin: 1rem;
  color: #fff;
  font-weight:500;
  font-size: 1.4rem;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  line-height: 30px;
  padding:0.5rem;
}
.nav-link:hover {
  border-bottom: 1px solid #fff;
}

/*************************************/
/*************************************/
/*************************************/

/*Mobile version*/
@media screen and (max-width:500px){
  .nav {
   display: none;
  }
  
}

