.nav-content {
  display: flex;
  justify-content: end;
  height: 40px;
  vertical-align: center;
}

.nav_items {
  list-style: none;
}

.nav-link {
  margin: 1rem;
  color: #fff;
  font-weight: 900;
  font-size: 1rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

