.App {
  text-align: center;
  width: 100%;
  font-family: 'Lato', sans-serif;
  height: 100vh;
}


/*************************************/
/*************************************/
/*************************************/

/*Mobile version*/

