.App {
  text-align: center;
  width: 100%;
  font-family: 'Bebas Neue', cursive;

  height: 100vh;
}


/*************************************/
/*************************************/
/*************************************/

/*Mobile version*/

@media screen {
  .App {
    width:100%;
  }
}
